/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .banner {
    height: 80%;
    min-height: 80%;
  }
  .logo {
    margin-left: 5%;
    width: 10%;
    max-width: 10%;
  }
  .mensaje {
    left: auto;
    right: 10%;
    font-size: 2.3em;
    font-weight: 100;
  }
}
